.custom-block {
    border: 5px solid #0071BC;
    background-color: #CCE3F2;
    border-radius: 5px;
    padding: 1rem;
}

.video-container {
    border-color: #E24C74;
    background-color: #F9DBE3;
}

.content-container-block {
    border-color: #037956;
    background-color: #CDE4DD;
}