.accordion {
    border-bottom: 1px solid $light-grey;

    &.image-accordian-flex {
        @media screen and (min-width: $sml-screen-size) {
            display: inline-block;
            width: 49.5vw;

            @media screen and (min-width: $lrg-laptop-screen) {
                width: 24.5vw;
            }

            .accordion-collapse {
                position: fixed;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                background-color: rgba(0,0,0,0.5);
                z-index: $video-modal-z-index;
                overflow: auto;
                padding: 3rem;

                .container {
                    background-color: $primary-grey;
                    color: white;
                    padding: 2rem;

                    .large-screen-title {
                        font-family: $adventure-font;
                        font-size: 2rem;
                    }
                    .close-modal {
                        text-align: right;
                        font-family: $regular-font;
                        cursor: pointer;
                        &:hover {
                            color: $primary-red;
                        }
                    }
                }
            }
        }
        @media screen and (max-width: $sml-screen-size) {
            .large-screen-title, .close-modal {
                display: none;
            }
        }
    }

    .accordion-header {
        &:not(.image-accordian-drop) {
            img {
                display: none;
            }
            .dropdown-title {
                .hover-text {
                    font-size: .8rem;
                    font-family: $regular-font;
                    font-style: italic;
                    content: 'Click to find out more';
                }
            }
            .accordian-button {
                &:not(.collapsed) {
                    .dropdown-title {
                        .hover-text {
                            content: 'Click to show less';
                        }
                    }
                }
            }
        }
        &.image-accordian-drop {
            .accordion-button {
                position: relative;
                padding: 0;

                img {
                    width: 100%;
                }
                .dropdown-title {
                    position: absolute;
                    width: 100%;
                    bottom: 0;
                    left: 0;
                    height: 5rem;
                    padding: 1rem;
                    text-align: center;
                    background-color: rgba(0,0,0,0.5);
                    color: white;

                    .hover-text {
                        display: none;
                    }
                }
                &:after {
                    display: none;   
                }
            }
        }
    }

    &:not(.image-accordian-flex) {
        .accordion-collapse {
            margin-top: 2rem;
    
            @media screen and (min-width: $sml-screen-size) {
                .accordian-content-flex {
                    display: flex;
                    flex-flow: wrap;
        
                    > * {
                        min-width: 50%;
                    }
        
                    .dropdown-text-content {
                        width: 100%;
                    }
                    .carousel-container {
                        flex: 1;
                    }
                    .video-container-with-popup {
                        flex: 1;
                        margin: 0;
                    }
                }
            }

            .large-screen-title, .close-modal {
                display: none;
            }
        }
    }

    .accordion-button {
        font-size: inherit;   
        &:not(.collapsed) {
            background-color: $lighter-grey;
            color: $primary-grey;
        }
    }

    &:hover {
        .accordion-header {
            &.image-accordian-drop {
                .accordion-button {
                    .dropdown-title {
                        height: 100%;
                        .title-container {
                            position: absolute;
                            top: 50%;
                            left: 50%;
                            transform: translate(-50%, -50%);
                        }
                        @media screen and (min-width: $sml-screen-size) {
                            .hover-text {
                                display: block;
                                font-family: $regular-font;
                                font-size: 1rem;
                                position: absolute;
                                bottom: 2rem;
                                width: 100%;
                                text-align: center;
                                left: 0;
                            }
                        }
                    }
                }
            }
        }
    }
}

.image-accordion {
    .accordion-header {
        img {
            width: 100%;
        }
    }
}