.carousel-container {
    overflow: hidden;
    img {
        object-fit: cover;
        width: 100%;
    }

    .slider-content {
        .slick-arrow {
            &.slick-prev {
                left: 2rem;
            }
            &.slick-next {
                right: 2rem;
            }
        }
    }
}