.image-background {
    position: relative;
    margin-top: 3rem;
    margin-bottom: 3rem;

    img {
        height: 100%;
        width: 100%;
        object-fit: cover;
    }

    .image-background-content {
        background-color: rgba(0,0,0,0.5);
        .content-center {
            width: 70%;
            text-align: center;
            color: white;
        }
    }
}