.mobile-nav-icon {
    background-color: $primary-grey;
    position: fixed;
    left: -4rem;
    top: -4rem;
    width: 10rem;
    height: 10rem;
    color: white;
    border-radius: 50%;
    z-index: $mobile-navigation-z-index;

    @media screen and (min-width: $sml-screen-size) {
        display: none;
    }

    .icon {
        color: white;
        font-size: 2.5rem;
        top: 4.5rem;
        left: 5.5rem;
        position: absolute;
    }

    &:hover, &:focus, &:active {
        cursor: pointer;
        background-color: $primary-red;
    }
}

.mobile-nav-page {
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: $primary-grey;
    color: white;
    display: none;
    z-index: $mobile-navigation-page-z-index;

    .close-nav {
        position: absolute;
        left: 3rem;
        top: 3rem;
        font-size: 2.5rem;

        &:hover {
            -webkit-transform: scale(1.2);
            transform: scale(1.2);
        }
    }

    .navigation-items {
        text-align: center;

        .logo {
            width: 70vw;
            margin-bottom: 5rem;
            img {
                width: 100%;
            }
        }

        li {
            margin-bottom: 2rem;

            a {
                color: white;
                font-family: $adventure-font;
                font-size: 2rem;
                text-decoration: none;
                &:hover {
                    color: $primary-red;
                }
            }
        }

        .social-media {
            margin-top: 5rem;
            .social-link {
                font-size: 2rem;
                color: white;
                margin-left: 1rem;
                text-decoration: none;

                &:hover {
                    color: $primary-red;
                }
            }
        }
    }
}

.desktop-nav {
    background-color: $primary-grey;

    &.navbar {
        position: fixed;
        width: 100%;
        z-index: $desktop-navbar-z-index;
        top: 0;
        left: 0;

        @media screen and (max-width: $sml-screen-size) {
            display: none;
        }
    }

    img {
        height: 4rem;
    }

    .navbar-nav {
        li {
            padding: 1rem;

            a {
                color: white;
                text-decoration: none;
                font-size: 1.2rem;

                &:hover {
                    color: $primary-red;
                }
            }
        }
    }
}