.mobile-nav-icon {
    background-color: $primary-grey;
    position: fixed;
    left: -5rem;
    top: -5rem;
    width: 15rem;
    height: 15rem;
    color: white;
    border-radius: 50%;
    z-index: $mobile-navigation-z-index;

    .icon {
        color: white;
        font-size: 4rem;
        top: 6.5rem;
        left: 7.5rem;
        position: absolute;
    }

    &:hover, &:focus, &:active {
        cursor: pointer;
        background-color: $primary-red;
    }
}

.mobile-nav-page {
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: $primary-grey;
    color: white;
    display: none;
    z-index: $mobile-navigation-page-z-index;

    .close-nav {
        position: absolute;
        left: 5rem;
        top: 5rem;
        font-size: 4rem;

        &:hover {
            -webkit-transform: scale(1.2);
            transform: scale(1.2);
        }
    }

    .navigation-items {
        text-align: center;

        .logo {
            width: 70vw;
            margin-bottom: 5rem;
            img {
                width: 100%;
            }
        }

        li {
            margin-bottom: 2rem;

            a {
                color: white;
                font-family: $adventure-font;
                font-size: 3rem;
                &:hover {
                    color: $primary-red;
                }
            }
        }

        .social-media {
            margin-top: 5rem;
            .social-link {
                font-size: 3rem;
                color: white;
                margin-left: 1rem;

                &:hover {
                    color: $primary-red;
                }
            }
        }
    }
}