// FONTS
@font-face {
    font-family: Adventure;
    src: url(fonts/Adventure.otf);
}
@font-face {
    font-family: Adventure-Hollow;
    src: url(fonts/AdventureHollow.otf);
}

$adventure-font: "Adventure", Arial, Helvetica, sans-serif;
$adventure-hollow-font: "Adventure-Hollow", Arial, Helvetica, sans-serif;
$regular-font: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;

// COLOURS
$primary-grey: #262626;
$primary-red: #F30529;
$red-fade: #ffe9e5;
$dark-grey: #808080;
$light-grey: #c2c2c2;
$lighter-grey: #f2f2f2;
$green-fade: #d3e0d7;
$green: #008635;

// Z-INDEX
$z-index-carousel-arrow: 1;
$mobile-navigation-z-index: 2;
$mobile-navigation-page-z-index: 3;
$mobile-close-nav-z-index: 4;
$desktop-navbar-z-index: 5;
$video-modal-z-index: 6;

// SCREEN HEIGHTS
$extra-small-screen: 383px;
$tiny-small-screen: 347px;
$sml-screen-size: 767px;
$lrg-laptop-screen: 1440px;
$laptop-screen: 1024px;

$desktop-nav-height: 5.6rem;
